<div class="container-fluid">
	<h1>Create a Topic</h1>
	
	Name: <input type="text" ng-model="name" ng-disabled="busy"/><br/><br/>
	Description: <br/><textarea rows="10" cols="30" ng-model="desc" ng-disabled="busy"></textarea><br/><br/>
	Pictures: <br/><input type="file" accept="image/*;camera" ng-model="files" multiple base-sixty-four-input ng-disabled="busy"/><br/>

	<button ng-click="submit()" ng-disabled="busy">Submit</button>
</div>
