<div class="container-fluid">
	<h1>Topics</h1>
	<a href="#/create">Create new topic</a><br/><br/>

	Search: <input type="text" ng-model="topic.name" ng-disabled="busy"><br/><br/>

	<ul>
		<li ng-repeat="topic in topics | filter:topic:strict | orderBy:topic.id">
			<a href="#/topic/{{topic.id}}">{{topic.name}}</a>
		</li>
	</ul>

	<br/>

	<h3>Stats</h3>
	<div>Topics: {{topicCount}}</div>
	<div>Photos: {{photoCount}}</div>
	<div>Total Usage: {{Math.round(100 * usage / 1024 / 1024) / 100}} MB</div>

	<button ng-click="clear()" ng-disabled="busy">Delete All</button>
</div>
