<div class="container-fluid">
	<h1>{{topic.name}}</h1>
	<div>Created: {{topic.created.toLocaleString()}}</div>
	<div>Description: {{topic.desc}}</div><br/>

	<div class="row">
		<div class="col-sm-4" ng-repeat="photo in photos | orderBy:photo.id">
			<img class="img-responsive" ng-src="data:{{photo.filetype}};base64,{{photo.data}}">
			<div>filename: {{photo.filename}}</div>
			<div>filetype: {{photo.filetype}}</div>
			<div>size: {{Math.round(100 * photo.filesize / 1024 / 1024) / 100}} MB</div>
		</div>
	</div>
</div>
